<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>SPADEEMS ATAMA NIRBHAR MAHILA</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="/css/animate.css">

    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="/css/slick.css">

    <!--====== Font Awesome CSS ======-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="/css/default.css">

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    
    <!--====== PRELOADER PART START ======-->

    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== HEADER PART START ======-->

    <header class="header_area">
        <div class="header_top">
            <div class="container">
                <div class="header_top_wrapper d-md-flex justify-content-between">
                    <div class="header_social text-center">
                        <ul>
                            <li><a href="https://www.facebook.com/spadeems29/"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/EmsSpade?s=09"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/spadeems29"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="https://instagram.com/spade_ems?igshid=bxct030us4mn"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/c/SPADEEMS"><i class="fa fa-youtube-square"></i></a></li>
                        </ul>
                    </div> <!-- header social -->

                    <div class="header_info d-none d-md-block">
                        <ul>
                            <li><img src="/images/call.png" alt=""><a href="#">91 458 654 528</a></li>
                            <li><img src="/images/mail.png" alt=""><a href="#">info@spadeems.com</a></li>
                            <li><img src="/images/heand.png" alt=""><a href="/register">Join Us</a></li>
                        </ul>
                    </div> <!-- header info -->
                </div> <!-- header top wrapper -->
            </div> <!-- container -->
        </div> <!-- header top -->

        <div class="header_navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/">
                        <img src="/images/spade ems logo.png" width="150px"alt="logo">
                    </a> <!-- logo -->

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li>
                                <a href="/">Home <!--<i class="fa fa-angle-down"></i>--></a>
                            </li>
                            <li>
                                <a href="/about">About Us <!--<i class="fa fa-angle-down"></i>--></a>
                            </li>
                            <li>
                                <a href="/courses">Our Courses<!--<i class="fa fa-angle-down"></i>--></a>
                            </li>
                            <li>
                                <a href="/event">Events</a></li>
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a></li>
                        </ul>
                    </div> <!-- navbar collapse -->

                    <div class="navbar_btn d-none d-sm-block">
                        <a class="main-btn" href="/register"> Join Us</a>
                    </div>

                </nav> <!-- navbar -->
            </div> <!-- container -->
        </div> <!-- header navbar -->
    </header>

    <!--====== HEADER PART ENDS ======-->

    <!--====== SLIDER PART START ======-->

    <section class="slider_area slider-active">
        <div class="single_slider">
            <div class="slider_image bg_cover" data-animation="kenburns" style="background-image: url(/images/intro-1.jpeg)"></div> <!-- slider image -->
            <div class="slider_content_wrapper d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider_content text-center">
                                <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">SPADE </h5>
                                <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">ATAMA NIRBHAR MAHILA</h2>
                                <p data-animation="fadeInUp" data-delay="0.9s">Under the aegis of Spade EMS Pvt. Ltd</p>
                                <a href="/register" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Join Us</a>
                            </div> <!-- slider content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- slider content wrapper -->
        </div> <!-- single slider -->
        
        <div class="single_slider">
            <div class="slider_image bg_cover" data-animation="kenburns" style="background-image: url(/images/intro-2.jpeg)"></div> <!-- slider image -->
            <div class="slider_content_wrapper d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider_content text-center">
                                <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">SPADE </h5>
                                <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">ATAMA NIRBHAR MAHILA</h2>
                                <p data-animation="fadeInUp" data-delay="0.9s">Under the aegis of Spade EMS Pvt. Ltd</p>
                                <a href="/register" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Join Us</a>
                            </div> <!-- slider content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- slider content wrapper -->
        </div> <!-- single slider -->
        
        <div class="single_slider">
            <div class="slider_image bg_cover" data-animation="kenburns" style="background-image: url(/images/intro-3.jpeg)"></div> <!-- slider image -->
            <div class="slider_content_wrapper d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider_content text-center">
                                <h5 class="sub_title" data-animation="fadeInUp" data-delay="0.2s">SPADE </h5>
                                <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">ATAMA NIRBHAR MAHILA</h2>
                                <p data-animation="fadeInUp" data-delay="0.9s">Under the aegis of Spade EMS Pvt. Ltd</p>
                                <a href="/register" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Join Us</a>
                            </div> <!-- slider content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- slider content wrapper -->
        </div> <!-- single slider -->
    </section>

    <!--====== SLIDER PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section class="about_area pt-80 pb-130 bg_cover" style="background-image: url(/images/gray-bg.jpg)">
        <div class="about_shape_1" style="background-image: url(/images/shape/shape-1.png)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="about_left  mt-50">
                        <div class="about_image">
                            <img src="/images/intro-1.jpeg" alt="About">
                            <div class="help_title">
                                <h3 class="title">About US
                                  
                                    </h3>
                            </div>
                        </div>
                        <div class="about_content">
                            <h4 class="about_title">Women Entrepreneurship Platform<br> “Atam nirbhar mahila”</h4>
                            <p>Here's a platform which can turn out to be a “right thing at the right moment” for you. Spade EMS has come up with an initiative, ATAMNIRBHARMAHILA, of providing the stage to setup your ideas and know how to execute and make them successful. Gear up ladies, time to increase the torque and decrease the input power, you’ve got that fuel in you, accept the lever and roll the wrists to steer ahead. Tell the world, that’s how you roll.</p>
                        </div>
                    </div> <!-- about left -->
                </div>
                <div class="col-lg-4">
                    <div class="about_right d-flex flex-wrap">
                        <div class="single_about_items mt-50 color-1 text-center">
                            <div class="about_icon">
                                <img class="shape" src="/images/shape/shape-3.png" alt="shape">
                                <img class="icon" src="/images/a-icon-1.png" alt="icon">
                            </div>
                            <div class="about_content">
                                <h4 class="items_title">500+ Events</h4>
                                <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors, churches</p>
                            </div>
                        </div> <!-- single about items -->
                        <div class="single_about_items mt-50 color-1 text-center">
                            <div class="about_icon">
                                <img class="shape" src="/images/shape/shape-3.png" alt="shape">
                                <img class="icon" src="/images/a-icon-2.png" alt="icon">
                            </div>
                            <div class="about_content">
                                <h4 class="items_title">300+ Volunteers</h4>
                                <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors, churches</p>
                            </div>
                        </div> <!-- single about items -->
                    </div> <!-- about right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about_shape_2" style="background-image: url(/images/shape/shape-1.png)"></div>
    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    <section class="service_area pt-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center pb-80">
                        <img src="/images/section_icon.png" alt="Icon">
                        <h3 class="title">DESIRED OUTCOMES</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-4 col-md-7">
                    <div class="single_services text-center services_1">
                        <div class="services_icon">
                            <img src="/images/s-icon-1.png" alt="icon">
                        </div>
                        <div class="services_content">
                            <h4 class="services_title"><a href="#">outcomes 1</a></h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors, churches.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="single_services active text-center services_2">
                        <div class="services_icon">
                            <img src="/images/s-icon-2.png" alt="icon">
                        </div>
                        <div class="services_content">
                            <h4 class="services_title"><a href="#">outcome 2</a></h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors, churches.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="single_services text-center services_3">
                        <div class="services_icon">
                            <img src="/images/s-icon-3.png" alt="icon">
                        </div>
                        <div class="services_content">
                            <h4 class="services_title"><a href="#">outcome 3</a></h4>
                            <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors, churches.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== SERVICES PART ENDS ======-->

    <!--====== VIDEO PART START ======-->

    <section class="video_area pb-130 bg_cover" style="background-image: url(/images/23_image.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="video_content mt-50">
                        <h4 class="video_title">MAIN STORIES OF EXISTING WOMEN ENTREPRENEURS</h4>
                    </div> <!-- video content -->
                </div>
                <div class="col-lg-5">
                    <div class="video_watch mt-50">
                        
                        <video controls poster="/images/logo1.png" width="600px" class="video_play video-popup">
                            <source src="/images/spade_video.mp4" type="video/mp4">
                          </video>  
                        <!-- <a href="https://www.youtube.com/watch?v=WKUjCCOcLFY" class="video_play video-popup"><span><i class="fa fa-play"></i></span> Watch video</a> -->
                    </div> <!-- video watch -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== VIDEO PART ENDS ======-->
<!--
    ====== CAMPAING DONER PART START ======

    <section class="campaing_doner_area">
        <div class="campaing_area pt-130 pb-110">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center pb-30">
                            <img src="assets/images/section_icon.png" alt="Icon">
                            <h3 class="title">Featured Camapaign</h3>
                        </div> section title
                    </div>
                </div> row
                <div class="row">
                    <div class="col-lg-5">
                        <div class="campaing_nav pt-15">
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="active" id="hospital-tab" data-toggle="tab" href="#hospital" role="tab" aria-controls="hospital" aria-selected="true">
                                        <div class="campaing_items items_color_1 d-flex">
                                            <div class="items_icon">
                                                <img src="assets/images/c-icon-1.png" alt="icon">
                                            </div>
                                            <div class="items_content media-body">
                                                <h4 class="items_title">Hospital Build</h4>
                                                <p>Helpgrove is a nonproﬁt organization supported by community leaders</p>
                                            </div>
                                        </div> campaing items
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="cancer-tab" data-toggle="tab" href="#cancer" role="tab" aria-controls="cancer" aria-selected="false">
                                        <div class="campaing_items items_color_2 d-flex">
                                            <div class="items_icon">
                                                <img src="assets/images/c-icon-2.png" alt="icon">
                                            </div>
                                            <div class="items_content media-body">
                                                <h4 class="items_title">Cancer Treatment </h4>
                                                <p>Helpgrove is a nonproﬁt organization supported by community leaders</p>
                                            </div>
                                        </div> campaing items
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="environtment-tab" data-toggle="tab" href="#environtment" role="tab" aria-controls="environtment" aria-selected="false">
                                        <div class="campaing_items items_color_3 d-flex">
                                            <div class="items_icon">
                                                <img src="assets/images/c-icon-3.png" alt="icon">
                                            </div>
                                            <div class="items_content media-body">
                                                <h4 class="items_title">Environtment Recyle</h4>
                                                <p>Helpgrove is a nonproﬁt organization supported by community leaders</p>
                                            </div>
                                        </div> campaing items
                                    </a>
                                </li>
                            </ul>
                        </div> campaing nav
                    </div>

                    <div class="col-lg-7">
                        <div class="campaing_tab_content mt-30">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="hospital" role="tabpanel" aria-labelledby="hospital-tab">
                                    <div class="campaing_content">
                                        <img src="assets/images/campaing-1.png" alt="">

                                        <div class="campaing_donate">
                                            <div class="donate_dollar d-flex justify-content-between">
                                                <span>Raised $17000</span>
                                                <span>Goal $37000</span>
                                            </div> donate dollar
                                            <div class="donate_progress">
                                                <div class="bar_inner">
                                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                                </div>
                                            </div> donate progress
                                            <div class="donate_btn">
                                                <a href="#" class="main-btn"><i class="fa fa-heart"></i> Donate  Now</a>
                                            </div> donate dollar
                                        </div>
                                    </div> campaing content 
                                </div>
                                <div class="tab-pane fade" id="cancer" role="tabpanel" aria-labelledby="cancer-tab">
                                    <div class="campaing_content">
                                        <img src="assets/images/campaing-1.png" alt="">

                                        <div class="campaing_donate">
                                            <div class="donate_dollar d-flex justify-content-between">
                                                <span>Raised $17000</span>
                                                <span>Goal $37000</span>
                                            </div> donate dollar
                                            <div class="donate_progress">
                                                <div class="bar_inner">
                                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                                </div>
                                            </div> donate progress
                                            <div class="donate_btn">
                                                <a href="#" class="main-btn"><i class="fa fa-heart"></i> Donate  Now</a>
                                            </div> donate dollar
                                        </div>
                                    </div> campaing content 
                                </div>
                                <div class="tab-pane fade" id="environtment" role="tabpanel" aria-labelledby="environtment-tab">
                                    <div class="campaing_content">
                                        <img src="assets/images/campaing-1.png" alt="">

                                        <div class="campaing_donate">
                                            <div class="donate_dollar d-flex justify-content-between">
                                                <span>Raised $17000</span>
                                                <span>Goal $37000</span>
                                            </div> donate dollar
                                            <div class="donate_progress">
                                                <div class="bar_inner">
                                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                                </div>
                                            </div> donate progress
                                            <div class="donate_btn">
                                                <a href="#" class="main-btn"><i class="fa fa-heart"></i> Donate  Now</a>
                                            </div> donate dollar
                                        </div>
                                    </div> campaing content 
                                </div>
                            </div>
                        </div> campaing tab content
                    </div>
                </div> row
            </div> container
        </div> <!-- campaing area -->

        <!-- <div class="doner_area pb-130">
            <div class="container">
                <div class="doner_title text-center mb-30">
                   <h4 class="title">Our Top Doners</h4>
                </div> <!-- row -->
                <!-- <div class="row">
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="single_doner mt-30 text-center doner_color-1">
                            <div class="doner_image">
                                <img src="assets/images/doner-1.jpg" alt="doner">
                            </div>
                            <div class="doner_content">
                                <h5 class="doner_name">Maria Lodge</h5>
                                <p>Donate- $384</p>
                            </div>
                        </div> single doner -->
                    <!-- </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="single_doner mt-30 text-center doner_color-2">
                            <div class="doner_image">
                                <img src="assets/images/doner-2.jpg" alt="doner">
                            </div>
                            <div class="doner_content">
                                <h5 class="doner_name">Maria Lodge</h5>
                                <p>Donate- $384</p>
                            </div>
                        </div> <!-- single doner -->
                    <!-- </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="single_doner mt-30 text-center doner_color-3">
                            <div class="doner_image">
                                <img src="assets/images/doner-3.jpg" alt="doner">
                            </div>
                            <div class="doner_content">
                                <h5 class="doner_name">Maria Lodge</h5>
                                <p>Donate- $384</p>
                            </div>
                        </div> single doner --> 
                    <!-- </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="single_doner mt-30 text-center doner_color-4">
                            <div class="doner_image">
                                <img src="assets/images/doner-4.jpg" alt="doner">
                            </div>
                            <div class="doner_content">
                                <h5 class="doner_name">Maria Lodge</h5>
                                <p>Donate- $384</p>
                            </div>
                        </div> <!-- single doner --
                    </div>
                </div> <!-- row --
            </div> <!-- container --
        </div> <!-- doner area --
    </section> --> 

    <!--====== CAMPAING DONER PART ENDS ======-->

    <!--====== CAUSES PART START ======-->

    <section class="causes_area pt-130 pb-130 bg_cover" style="background-image: url(/images/gray-bg.jpg)">
        <div class="causes_shape_1" style="background-image: url(/images/shape/shape-1.png)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center pb-30">
                        <img src="/images/section_icon.png" alt="Icon">
                        <h3 class="title">Our Courses</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_causes causes_color_1 mt-30">
                        <div class="causes_image">
                            <img src="/images/marketing strategies.jpg" alt="causes">
                            <ul class="causes_icon">
                                <li><a href="#"><i class="fa fa-play"></i></a></li>
                                <!--<li><a href="#"><i class="fa fa-video-camera"></i></a></li>-->
                            </ul>
                            <div class="causes_shape">
                                <img src="/images/shape/shape-4.png" alt="shape">
                            </div>
                            <div class="causes_progress">
                                <div class="bar_inner">
                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                </div>
                            </div> <!-- donate progress -->
                        </div>
                        <div class="causes_content">
                            <ul class="causes_meta">
                                <li><a href="#"><i class="fa fa-play"></i> <span>Watched</span> : 1900</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>liked</span> : 900</a></li>
                            </ul>
                            <h4 class="causes_title"><a href="#">Marketing strategies </a></h4>
                            <p>A successful marketing strategy is 
                                what is needed to grow your business.
                                 It includes performing marketing research, 
                                 setting goals, reviewing and planning, 
                                 delivery and recommendations. 
                            </p>
                            <a href="#" class="more">Know More</a>
                        </div>
                    </div> <!-- single causes -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_causes causes_color_2  mt-30">
                        <div class="causes_image">
                            <img src="/images/team management skills.jpg" alt="causes">
                            <ul class="causes_icon">
                                <!--<li><a href="#"><i class="fa fa-camera"></i></a></li>--->
                                <li><a href="#"><i class="fa fa-play"></i></a></li>
                            </ul>
                            <div class="causes_shape">
                                <img src="/images/shape/shape-4.png" alt="shape">
                            </div>
                            <div class="causes_progress">
                                <div class="bar_inner">
                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                </div>
                            </div> <!-- donate progress -->
                        </div>
                        <div class="causes_content">
                            <ul class="causes_meta">
                                <li><a href="#"><i class="fa fa-play"></i> <span>Watched</span> : 1900</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>Liked</span> : 900</a></li>
                            </ul>
                            <h4 class="causes_title"><a href="#"> Team management skills</a></h4>
                            <p>A perfect place to learn team management 
                                under the guidance of experienced leaders and
                                 world class entrepreneur.</p>
                            <a href="#" class="more">Know More</a>
                        </div>
                    </div> <!-- single causes -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_causes causes_color_3  mt-30">
                        <div class="causes_image">
                            <img src="/images/licensing and documentation.jpg" alt="causes">
                            <ul class="causes_icon">
                                <!--<li><a href="#"><i class="fa fa-camera"></i></a></li>-->
                                <li><a href="#"><i class="fa fa-play"></i></a></li>
                            </ul>
                            <div class="causes_shape">
                                <img src="/images/shape/shape-4.png" alt="shape">
                            </div>
                            <div class="causes_progress">
                                <div class="bar_inner">
                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                </div>
                            </div> <!-- donate progress -->
                        </div>
                        <div class="causes_content">
                            <ul class="causes_meta">
                                <li><a href="#"><i class="fa fa-play"></i> <span>Watched</span> : 1900</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>Liked</span> : 900</a></li>
                            </ul>
                            <h4 class="causes_title"><a href="#">Licensing and documentation </a></h4>
                            <p>Firstly, the candidates will know about what is licensing,
                                 why is it needed and the various licensing procedures required 
                                 for a chosen company. </p>
                            <a href="#" class="more">Know More</a>
                        </div>
                    </div> <!-- single causes -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_causes causes_color_4  mt-30">
                        <div class="causes_image">
                            <img src="/images/investment planning-1.jpg" alt="causes">
                            <ul class="causes_icon">
                                <!--<li><a href="#"><i class="fa fa-camera"></i></a></li>-->
                                <li><a href="#"><i class="fa fa-play"></i></a></li>
                            </ul>
                            <div class="causes_shape">
                                <img src="/images/shape/shape-4.png" alt="shape">
                            </div>
                            <div class="causes_progress">
                                <div class="bar_inner">
                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                </div>
                            </div> <!-- donate progress -->
                        </div>
                        <div class="causes_content">
                            <ul class="causes_meta">
                                <li><a href="#"><i class="fa fa-play"></i> <span>Watched</span> : 1900</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>Liked</span> : 900</a></li>
                            </ul>
                            <h4 class="causes_title"><a href="#"> Investment planning </a></h4>
                            <p>You'll surely get an  estimate idea about how much 
                                to invest, when and where to do that investment.
                            </p>
                            <a href="#" class="more">Know More</a>
                        </div>
                    </div> <!-- single causes -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_causes causes_color_5  mt-30">
                        <div class="causes_image">
                            <img src="/images/marketing skills.jpg" alt="causes">
                            <ul class="causes_icon">
                               <!-- <li><a href="#"><i class="fa fa-camera"></i></a></li>-->
                                <li><a href="#"><i class="fa fa-play"></i></a></li>
                            </ul>
                            <div class="causes_shape">
                                <img src="/images/shape/shape-4.png" alt="shape">
                            </div>
                            <div class="causes_progress">
                                <div class="bar_inner">
                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                </div>
                            </div> <!-- donate progress -->
                        </div>
                        <div class="causes_content">
                            <ul class="causes_meta">
                                <li><a href="#"><i class="fa fa-play"></i> <span>Watched</span> : 1900</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>Liked</span> : 900</a></li>
                            </ul>
                            <h4 class="causes_title"><a href="#">Marketing strategies </a></h4>
                            <p>A successful marketing strategy is what is needed
                                 to grow your business. It includes performing
                                  marketing research, setting goals, reviewing and 
                                  planning, delivery and recommendations. 
                            </p>
                            <a href="#" class="more">Know More</a>
                        </div>
                    </div> <!-- single causes -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_causes causes_color_6 mt-30">
                        <div class="causes_image">
                            <img src="/images/financial planning.jpg" alt="causes">
                            <ul class="causes_icon">
                                <!--<li><a href="#"><i class="fa fa-camera"></i></a></li>-->
                                <li><a href="#"><i class="fa fa-play"></i></a></li>
                            </ul>
                            <div class="causes_shape">
                                <img src="/images/shape/shape-4.png" alt="shape">
                            </div>
                            <div class="causes_progress">
                                <div class="bar_inner">
                                    <div class="bar progress_line" data-width="59"><span class="percentage">59%</span></div>
                                </div>
                            </div> <!-- donate progress -->
                        </div>
                        <div class="causes_content">
                            <ul class="causes_meta">
                                <li><a href="#"><i class="fa fa-play"></i> <span>Watched</span> : 1900</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>Liked</span> : 900</a></li>
                            </ul>
                            <h4 class="causes_title"><a href="#"> Financial planning </a></h4>
                            <p>A perfect business is planned keeping in mind the 
                                cost and in a budget friendly way.</p>
                            <a href="#" class="more">Know More</a>
                        </div>
                    </div> <!-- single causes -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="causes_shape_2" style="background-image: url(/images/shape/shape-1.png)"></div>
    </section>

    <!--====== CAUSES PART ENDS ======-->

    <!--====== TESTIMONIAL PART START ======-->

    <section class="testimonial_area">
        <div class="testimonial_image_wrapper">
            <div class="single_testimonial_image">
                <img src="/images/testimonial-1.jpg" alt="testimonial">
            </div> <!-- single testimonial image -->
            
            <div class="single_testimonial_image">
                <img src="/images/testimonial-2.jpg" alt="testimonial">
            </div> <!-- single testimonial image -->
            
            <div class="single_testimonial_image">
                <img src="/images/testimonial-3.jpg" alt="testimonial">
            </div> <!-- single testimonial image -->
            
            <div class="single_testimonial_image">
                <img src="/images/testimonial-4.jpg" alt="testimonial">
            </div> <!-- single testimonial image -->

            <div class="single_testimonial_image">
                <img src="/images/testimonial-5.jpg" alt="testimonial">
            </div> <!-- single testimonial image -->

            <div class="single_testimonial_image">
                <img src="/images/testimonial-6.jpg" alt="testimonial">
            </div> <!-- single testimonial image -->
        </div> <!-- testimonial image wrapper -->
        
        <div class="testimonial_content_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="testimonial_content_wrapper">
                           
                            <div class="single_testimonial_content text-center">
                                <i class="fa fa-quote-right"></i>
                                <h4 class="testimonial_title">Testimonial</h4>
                                <p>Associate Professor and Assistant Dean (DSW) Lovely Professional University.The most dedicated and determined leader, who always have faith in his team and who always love them more than anything else. I am confident that after gaining lot of experience, Spade has created new adventures and open new doors.</p>
                                <h6 class="author_name">Dr. Nitin Bhardwaj</h6>
                            </div> <!-- single testimonial content -->
                           
                            <div class="single_testimonial_content text-center">
                                <i class="fa fa-quote-right"></i>
                                <h4 class="testimonial_title">Testimonial</h4>
                                <p>Asst. Director, Deputy Dean, HOD Counselling & Happiness cell Lovely Professional University.The unique thing about SPADE is that its entire team works endlessly towards helping clients achieve their GOALS . SPADE Committee Members are self motivated , talented , creative , enthusiastic, extremely dedicated and passionate.</p>
                                <h6 class="author_name">Ms. Malvinder Gill</h6>
                            </div> <!-- single testimonial content -->
                           
                            <div class="single_testimonial_content text-center">
                                <i class="fa fa-quote-right"></i>
                                <h4 class="testimonial_title">Testimonial</h4>
                                <p>Assistant professor cum jr.scientist, Dept. Of chemistry, birsa Agriculture University, Ranchi
                                    It's very nice to see spade growing to this fast speed all over India/world. It's my pleasure to be with you in this journey from first day to till now. I appreciate your dedication and passion for knowledge. Keep it up. All the best. Always with you all. 😊 </p>
                                <h6 class="author_name">Dr. Richa Gupta
                                </h6>
                            </div> <!-- single testimonial content -->
                           
                            <div class="single_testimonial_content text-center">
                                <i class="fa fa-quote-right"></i>
                                <h4 class="testimonial_title">Testimonial</h4>
                                <p>Lecturer,dept of computer science, computational foundry,Swansea UniversityUK
                                    Dear brothers and sisters It's been a pleasure to meet you all. The spadians are so wonderful, exciting and all above the great human being. Thanku all for making us part of the SPADE family. I wish you all a best of luck.</p>
                                <h6 class="author_name">Dr. Pardeep Kumar
                                </h6>

                            </div> <!-- single testimonial content -->
                            <div class="single_testimonial_content text-center">
                                <i class="fa fa-quote-right"></i>
                                <h4 class="testimonial_title">Testimonial</h4>
                                <p>Associate Professor Manipal University Jaipur
                                    It was simply fantastic to have all around us. I learned and enjoyed amazingly here! Best of luck spadians.</p>
                                <h6 class="author_name">Dr. Anshuman Kalla</h6>

                            </div> <!-- single testimonial content -->
                            <div class="single_testimonial_content text-center">
                                <i class="fa fa-quote-right"></i>
                                <h4 class="testimonial_title">Testimonial</h4>
                                <p>Assistant Professor University College Dublin Oulun Ylipisto Ireland
                                    Dear spadians Your area wonderful group of people. It was amazing to be at LPU for a short period. I wish you guys all the best.</p>
                                <h6 class="author_name">Dr. Madhusanka Liyange</h6>
                            </div> <!-- single testimonial content -->
                            
                        </div> <!-- row -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- testimonial content area -->
    </section>
                       

    <!--====== TESTIMONIAL PART ENDS ======-->
    
    <!--====== VOLUNTEER PART START ======-->

    <section class="volunteer_area pt-130 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center pb-30">
                        <img src="/images/section_icon.png" alt="Icon">
                        <h3 class="title">Our Volunteers</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_volunteer mt-30 volunteer_color_1">
                        <div class="volunteer_image">
                            <img src="/images/volunteer-1.jpg" alt="Volunteer">
                            <div class="volunteer_social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> <!-- volunteer social -->
                        </div>
                        <div class="volunteer_content d-flex align-items-center justify-content-center">
                            <div class="content_wrapper">
                                <h5 class="volunteer_name"><a href="#">Maria Noor</a></h5>
                                <p>Volunteer</p>
                            </div>
                        </div>
                    </div> <!-- single volunteer -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_volunteer mt-30 volunteer_color_2">
                        <div class="volunteer_image">
                            <img src="/images/volunteer-2.jpg" alt="Volunteer">
                            <div class="volunteer_social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> <!-- volunteer social -->
                        </div>
                        <div class="volunteer_content d-flex align-items-center justify-content-center">
                            <div class="content_wrapper">
                                <h5 class="volunteer_name"><a href="#">Kiara Roy</a></h5>
                                <p>Volunteer</p>
                            </div>
                        </div>
                    </div> <!-- single volunteer -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_volunteer mt-30 volunteer_color_3">
                        <div class="volunteer_image">
                            <img src="/images/volunteer-3.jpg" alt="Volunteer">
                            <div class="volunteer_social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> <!-- volunteer social -->
                        </div>
                        <div class="volunteer_content d-flex align-items-center justify-content-center">
                            <div class="content_wrapper">
                                <h5 class="volunteer_name"><a href="#">Adams Hobes</a></h5>
                                <p>Volunteer</p>
                            </div>
                        </div>
                    </div> <!-- single volunteer -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_volunteer mt-30 volunteer_color_4">
                        <div class="volunteer_image">
                            <img src="/images/volunteer-4.jpg" alt="Volunteer">
                            <div class="volunteer_social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> <!-- volunteer social -->
                        </div>
                        <div class="volunteer_content d-flex align-items-center justify-content-center">
                            <div class="content_wrapper">
                                <h5 class="volunteer_name"><a href="#">Adams Hobes</a></h5>
                                <p>Volunteer</p>
                            </div>
                        </div>
                    </div> <!-- single volunteer -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== VOLUNTEER PART ENDS ======-->

    
    
    <!--====== EVENT PART START ======-->

    <section class="event_area pt-95 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title section_title_2 pb-30">
                        <h3 class="title">Latest Events</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-4 col-md-7">
                    <div class="single_event event_color-1 mt-30">
                        <div class="event_image">
                            <img src="/images/event-1.jpg" alt="event">
                            <div class="event_date d-flex align-items-center justify-content-center">
                                <img class="shape" src="/images/shape/shape-3.png" alt="shape">
                                <span class="date"><span>13</span> Dec</span>
                            </div>
                        </div>
                        <div class="event_content">
                            <h4 class="event_title"><a href="#">4th Annual Schoolyard Dash 5K</a></h4>
                            <p><img src="/images/map.png" alt="map"> <span>2018/12/28 00:00 69 Warren Street, New York, USA</span> </p>
                            <a href="#" class="more">Read More</a>
                        </div>
                    </div> <!-- single event -->
                </div>
                
                <div class="col-lg-4 col-md-7">
                    <div class="single_event d-lg-flex flex-column-reverse event_color-2 mt-30">
                        <div class="event_image">
                            <img src="/images/event-2.jpg" alt="event">
                            <div class="event_date d-flex align-items-center justify-content-center">
                                <img class="shape" src="/images/shape/shape-3.png" alt="shape">
                                <span class="date"><span>13</span> Dec</span>
                            </div>
                        </div>
                        <div class="event_content">
                            <h4 class="event_title"><a href="#">A wooden fishing boat rests on Deal in Kent</a></h4>
                            <p><img src="/images/map.png" alt="map"> <span>2018/12/28 00:00 69 Warren Street, New York, USA</span> </p>
                            <a href="#" class="more">Read More</a>
                        </div>
                    </div> <!-- single event -->
                </div>
                
                <div class="col-lg-4 col-md-7">
                    <div class="single_event event_color-3 mt-30">
                        <div class="event_image">
                            <img src="/images/event-3.jpg" alt="event">
                            <div class="event_date d-flex align-items-center justify-content-center">
                                <img class="shape" src="/images/shape/shape-3.png" alt="shape">
                                <span class="date"><span>13</span> Dec</span>
                            </div>
                        </div>
                        <div class="event_content">
                            <h4 class="event_title"><a href="#">4th Annual Schoolyard Dash 5K</a></h4>
                            <p><img src="/images/map.png" alt="map"> <span>2018/12/28 00:00 69 Warren Street, New York, USA</span> </p>
                            <a href="#" class="more">Read More</a>
                        </div>
                    </div> <!-- single event -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EVENT PART ENDS ======-->
    
    <!--====== BLOG PART START ======-->

    <!-- <section class="blog_area pt-130 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center pb-10">
                        <img src="assets/images/section_icon.png" alt="Icon">
                        <h3 class="title">Our Latest Blog</h3>
                    </div> section title -->
                <!-- </div>
            </div> <!-- row --
            <div class="row">
                <div class="col-lg-6">
                    <div class="blog_left mt-50">
                        <div class="blog_image">
                            <img src="assets/images/blog_left.jpg" alt="blog">
                        </div>
                        <div class="blog_content">
                            <div class="title_bar d-flex">
                                <div class="blog_date d-flex align-items-center justify-content-center">
                                    <span class="date"><span>13</span> Dec</span>
                                </div>
                                <div class="blog_title_meta media-body">
                                    <h3 class="blog_title"><a href="#">Charity can help make smile of poor people</a></h3>
                                    <ul class="blog_meta">
                                        <li><a href="#"><i class="fa fa-user-o"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-bookmark-o"></i> Charity / Poor</a></li>
                                    </ul>
                                </div>
                            </div> title bar -->
                            <!-- <div class="text_bar">
                                <p>Helpgrove is a nonproﬁt organization supported by community leaders. It is a well-known fact that when any discussion</p>
                            </div>
                        </div>
                    </div> <!-- blog left --
                </div>
                <div class="col-lg-6">
                    <div class="blog_right pt-25">
                        <div class="single_blog blog_color-1 d-sm-flex mt-25">
                            <div class="blog_image">
                                <img src="assets/images/blog-1.jpg" alt="blog">
                                
                                <div class="blog_date d-flex align-items-center justify-content-center">
                                    <span class="date"><span>13</span> Dec</span>
                                </div>
                            </div>
                            <div class="blog_content media-body">
                                <h3 class="blog_title"><a href="#">Charity can help make smile of poor people</a></h3>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="fa fa-user-o"></i> Admin</a></li>
                                    <li><a href="#"><i class="fa fa-bookmark-o"></i> Charity / Poor</a></li>
                                </ul>
                                <p>Helpgrove is a nonproﬁt organization supported by community leaders. It is a well-known.</p>
                            </div>
                        </div> <!-- single blog --
                        
                        <div class="single_blog blog_color-2 d-sm-flex mt-25">
                            <div class="blog_image">
                                <img src="assets/images/blog-2.jpg" alt="blog">
                                
                                <div class="blog_date d-flex align-items-center justify-content-center">
                                    <span class="date"><span>13</span> Dec</span>
                                </div>
                            </div>
                            <div class="blog_content media-body">
                                <h3 class="blog_title"><a href="#">Charity can help make smile of poor people</a></h3>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="fa fa-user-o"></i> Admin</a></li>
                                    <li><a href="#"><i class="fa fa-bookmark-o"></i> Charity / Poor</a></li>
                                </ul>
                                <p>Helpgrove is a nonproﬁt organization supported by community leaders. It is a well-known.</p>
                            </div>
                        </div> <!-- single blog --
                        
                        <div class="single_blog blog_color-3 d-sm-flex mt-25">
                            <div class="blog_image">
                                <img src="assets/images/blog-3.jpg" alt="blog">
                                
                                <div class="blog_date d-flex align-items-center justify-content-center">
                                    <span class="date"><span>13</span> Dec</span>
                                </div>
                            </div>
                            <div class="blog_content media-body">
                                <h3 class="blog_title"><a href="#">Charity can help make smile of poor people</a></h3>
                                <ul class="blog_meta">
                                    <li><a href="#"><i class="fa fa-user-o"></i> Admin</a></li>
                                    <li><a href="#"><i class="fa fa-bookmark-o"></i> Charity / Poor</a></li>
                                </ul>
                                <p>Helpgrove is a nonproﬁt organization supported by community leaders. It is a well-known.</p>
                            </div>
                        </div> <!-- single blog --
                    </div> <!-- blog right --
                </div>
            </div> <!-- row --
        </div> <!-- container --
    </section> -->

    <!--====== BLOG PART ENDS ======-->
    
    <!--====== FOOTER PART START ======-->

    <footer class="footer_area">
        <div class="footer_widget pt-80 pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 order-md-1 order-lg-1">
                        <div class="footer_about mt-50">
                            <a href="#">
                                <img src="/images/spade ems logo 2.png" width="175px" alt="Logo">
                            </a>
                            
                            <p>Empowering Ideas is Empowering Women</p>
                            
                            <div class="footer_contact mt-20">
                                <h5 class="footer_title">Contact us</h5>
                                <p> Lamber Colony, Defence Colony,<br>Jalandhar, Punjab-144005,India.</p>
                            </div> <!-- footer contact -->
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-5 col-md-12 order-md-3 order-lg-2">
                        <div class="footer_link_wrapper d-flex flex-wrap">
                            <div class="footer_link mt-50">
                                <h5 class="footer_title">Useful links</h5>
                                <ul class="link">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Our Events</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div> <!-- footer link -->

                            <div class="footer_link mt-50">
                                <h5 class="footer_title">Our Courses</h5>
                                <ul class="link">
                                    <li><a href="#">Mentorship Program</a></li>
                                    <li><a href="#">Self-Employment Program</a></li>
                                    <li><a href="#">Workshops</a></li>
                                   <!---- <li><a href="#">Free Education</a></li>
                                    <li><a href="#">Poor Health</a></li>-->
                                </ul>
                            </div> <!-- footer link -->
                        </div> <!-- footer link wrapper -->
                    </div>
                    <div class="col-lg-3 col-md-6 order-md-2 order-lg-3">
                        <div class="footer_subscribe mt-50">
                            <h5 class="footer_title">Feedback</h5>
                            <p>Share your ideas with us</p>
                            <div class="subscribe_form">
                                <form action="#">
                                    <input type="text" placeholder="Email">
                                    <button><i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                            
                        </div> <!-- footer link  --> 
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
        <div class="footer_copyright text-center">
            <div class="container">
                <div class="copyright">
                    <p>Copyright &copy; SPADE EMS. All Rights Reserved.</p>
                </div> <!-- copyright -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== GO TO TOP PART START ======-->
    
    <div class="go-top-area">
        <div class="go-top-wrap">
            <div class="go-top-btn-wrap">
                <div class="go-top go-top-btn">
                    <i class="fa fa-angle-double-up"></i>
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== GO TO TOP PART ENDS ======-->
    
 




    <!--====== Jquery js ======-->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!--====== Appear js ======-->
    <script src="/js/jquery.appear.min.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.js"></script>

    <!--====== wow js ======-->
    <script src="/js/wow.min.js"></script>

    <!--====== Main js ======-->
    <script src="/js/main.js"></script>

</body>


<!-- Mirrored from thepixelcurve.com/html/helpgrove/helpgrove/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Oct 2020 05:25:21 GMT -->
</html>
